<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://yan.fi/cv/static/images/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://yan.fi/cv/static/images/favicon-16x16.png">
    <title>Monitor {% block title %}{% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--link href="{{ url_for('static', filename='styles/styles.css') }}" type="text/css" rel="stylesheet"-->
    <style>.log-print {
        font-size: smaller;
        overflow: auto; 
        word-wrap: normal;
    }
     </style>
    <!-- Extra -->
    {% block head %}
    {% endblock %}
</head>

<body>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://yan.fi/cv/static/images/theme.png">
                </div>
            </div>
        </li>
        <li><a href="https://console.cloud.google.com/logs/query?project=yyyaaannn&authuser=1"><i class="material-icons">burst_mode</i>All logs</a></li>
        <li><a href="{{ url_for('overview') }}"><i class="material-icons">layers</i>Overview</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="https://yan.fi/"><i class="material-icons">pages</i>Link to main</a></li>
        <li><a onclick="M.toast({html: 'Cheers! I am a toast'})" class="waves-effect" href="#!"><i
                    class="material-icons">pets</i>Have a Toast</a></li>
    </ul>

    <!--open side nav-->
    <div class="row">
        <div class="col s1">
            <a id="the-menu" href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
        </div>
    </div>

    <!--main contents-->
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    <div class="row">
        {% block contentmore %}{% endblock %}
    </div>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- script type="text/javascript" src="{{ url_for('static', filename='scripts/init.js') }}"></script-->
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
            $('.tooltipped').tooltip();
            $('.sidenav').sidenav();
            $('.collapsible').collapsible({ accordion: true });
            $('.materialboxed').materialbox({
                onOpenStart: function(e){
                e.src = e.attributes['data-enlarge-image'].nodeValue;
                }    
            });
        });
    </script>

</body>
</html>