<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://yan.fi/cv/static/images/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://yan.fi/cv/static/images/favicon-16x16.png">
    <title>Monitor {% block title %}{% endblock %}</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--link href="{{ url_for('static', filename='styles/styles.css') }}" type="text/css" rel="stylesheet"-->
    <style>
    pre {
        font-size: x-small;
        overflow: auto; 
        word-wrap: normal;
    }
     </style>
    {% block head %}
    {% endblock %}     
</head>

<body>
    <!--main contents-->
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    <div class="row">
        {% block contentmore %}{% endblock %}
    </div>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- script type="text/javascript" src="{{ url_for('static', filename='scripts/init.js') }}"></script-->
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
            $('.tooltipped').tooltip();
            $('.sidenav').sidenav();
            $('.collapsible').collapsible({ accordion: true });
            $('.materialboxed').materialbox({
                onOpenStart: function(e){
                e.src = e.attributes['data-enlarge-image'].nodeValue;
                }    
            });
        });
    </script>

</body>
</html>